 <section id="feature_slider" class="lol">
        <!--
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:

            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/assets/SkylineBlur.jpg') repeat-x top center;">
            <div class="info">
                <h2>Full Stack </br>
                    Ruby on Rails </br>
                    Developer</h2>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('/assets/aqua.jpg') repeat-x top center;">
            <div class="info">
                <h2>A wide range of tools to turn ideas into versatile applications.</h2>
            </div>
            <img class="asset left-565 sp600 t180 z1" src="/assets/skillset.png" />
        </article>
        <article class="slide" id="tour" style="background: url('/assets/ocean.jpg') repeat-x top center;">
            <img class="asset left-565 sp550 t35 z1" src="/assets/tagcloud.png" />
            <div class="info">
                <h2>A framework built from Gems</h2>
            </div>
        </article>
        <article class="slide" id="responsive" style="background: url('/assets/Bamboo.jpg') repeat-x top center;">
            <div class="info">
                <h2>
                    Commited to delivering the </br>
                    next generation of responsive web content.
                </h2>
            </div>
        </article>
    </section>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Blog</h3>
            </div>
            <div class="row feature">
                <div class="col-sm-12 info-left">
                    <h3>
                      <u>Rubyist Rhetoric Blog Recent Posts</u>
                    </h3>
                    <p>
                      <ul>
                        <% @posts.each do |post| %>
                        <li><%= link_to post.title.html_safe, posts_path %></li>

                        <% end %>
                      </ul>
                    </p>
                </div>
            </div>

            <div class="section_header">
                <h3>Skills</h3>
            </div>
            <div class="row feature">
                <div class="col-sm-6 info info-left">
                    <h3>
                      Restful, Agile, Avid Rubyist
                    </h3>
                    <p>
                        Experienced in agile software development and application design.  Passionate and knowledgable Ruby on Rails Developer, with experience on both the Rails
                        3.x & 4.0 stacks, PostgreSQL, Heroku, Devise, and more.  Cultivated in both test driven and behavior driven development environments leveraging RSpec and Minitest test frameworks.  Crafted several functional Ruby on Rails applications including a cross-platform iOS App with Rails serving as the backend.  Superior interpersonal skills with liaison experience building external relationships.
                    </p>
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <%= image_tag("features-ico1.png") %>
                        Skills & Keywords
                    </h3>
                    <p>
                        Ruby on Rails, Ruby, Javascript, HTML5, CSS3, Sass, jQuery, AJAX,
                        CoffeeScript, Git, Github, Heroku, Chrome Developer Tools, RSpec,
                        Minitest, PostgreSQL, Agile Web Development, </br> Pair Programming, TDD, BDD
                    </p>
                </div>
            </div>
        </div>
    </div>

  <section id="about">
    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>About</h3>
            </div>
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="col-sm-4 feature first">
                        <div class="img_box">
                          <%= image_tag("about.png") %>
                        </div>
                        <div class="text">
                            <h6>About Me?</h6>
                            <p>
                                I am a Full Stack Ruby on Rails Developer with a passion for technology and design, looking to immerse myself into a company where I can be part of a great team while learning and contributing to the code base.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature">
                        <div class="img_box">
                          <%= image_tag("experience.png") %>
                        </div>
                        <div class="text">
                            <h6>Professional Experience</h6>
                            <p>
                                For details on my professional background, please visit my
                                <a href="http://www.linkedin.com/pub/michael-frankenfield/83/aa/876" target="_blank">LinkedIn </a>
                                profile for the most up to date information or view my
                                <a href="resume.pdf" target="_blank">Resume</a>.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature last">
                        <div class="img_box">
                          <%= image_tag("tmlogo.png") %>
                        </div>
                        <div class="text">
                            <h6>Personal Interests</h6>
                            <p>
                              <ul>
                                <li><a href="http://www.tm.org/" target="_blank">Transcendental Meditation</a></li>
                                <li>Running</li>
                                <li>Hiking</li>
                                <li>Yoga</li>
                                <li>Learning new developer tricks</li>
                              </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>



