<!DOCTYPE html>
<html>
  <body class="projbody">



  <div id="portfolio">
    <div class="container">
      <div class="section_header">
          <h3><font size="32" color="#ffffff">Portfolio</font></h3>
      </div>


      <div class="row">
        <div class="col-md-12">
          <% @projects.each do |project|  %>

                <div id="gallery_container">


                  <div class="photo art web">
                    <div class="project" id="<%= dom_id(project)  %>">
                      <%= project.img1.html_safe %>
                      <%= link_to(project, class: "mask") do %>

                        <h3><%= project.name  %></h3>
                        <small><%= project.title %></small>
                        <div class="more">+</div>

                      <% end %>
                    </div>
                  </div>

                </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>




  <br />

  <footer>
  <div>
  <% if policy(Project).create? %>
  <%= link_to "New project", new_project_path  %>
  <% end %>
  </div>
  </footer>

  </body>
</html>
