<p>
  <b>Project:</b>
  <h2><%= @project.name  %></h2>
</p>

<p>
  <b>Technologies used:</b>
  <p> <%= @project.technologies_used  %></p>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<br />






<h2> Comments</h2>
  <%= render "comments/comm" %>
  <%= render "comments/form" %>
</p>
