<!DOCTYPE html>
<html>
  <body>


  <div id="portfolio_tem">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section_header">
                    <h3><%= @project.name %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 left_box">
                    <div class="big">
                        <%= @project.img1.html_safe %>
                        <%= @project.img2.html_safe %>
                        <%= @project.img3.html_safe %>
                        <%= @project.img4.html_safe %>
                    </div>
                    <div class="thumbs">
                        <div class="thumb">
                            <%= @project.img5.html_safe %>
                            <a href="#" class="mask">
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="thumb">
                            <%= @project.img6.html_safe %>
                            <a href="#" class="mask">
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="thumb">
                            <%= @project.img7.html_safe %>
                            <a href="#" class="mask">
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="thumb last">
                            <%= @project.img8.html_safe %>
                            <a href="#" class="mask">
                                <div class="more">+</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7 left_box">
                    <h2><%= @project.title %></h2>
                    <div>
                      <p>
                        <p> <%= @project.body %></p>
                      </p>


                      <p>
                        <b>Technologies used:</b>
                        <p> <%= @project.technologies_used  %></p>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav>
    <%= link_to 'Back', projects_path %>
    <br />
    </nav>

  </body>
</html>

