<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr id="<%= dom_id(post) %>">
    <td><%= post.title %></td>
    <td><%= post.body.html_safe %></td>
    <td><%= link_to 'Show', post %></td>

    <td>
    <% if policy(post).update? %>
      <%= link_to 'Edit Post', edit_post_path(post), :class => "btn btn-info" %>
    <% end %>
    </td>

    <td>
    <% if policy(post).destroy? %>
      <%= link_to 'Destroy Post', post, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
    <% end %>
    </td>

    <td>
    <% if policy(post).publish? && post.published? == false %>
      <%= button_to 'Publish', post_path(post, post: {published: true}), method: :put, :class => "btn btn-success" %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<div>
<% if policy(Post).create? %>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
<% end %>
</div>
