<!DOCTYPE html>
<html>
<body class="blogbody">


<div class="container">
  <div class="col-md-8">
    <h1 class="blogtitle">Rubyist Rhetoric</h1>
  </div>



<% @posts.each do |post| %>
 <div class="col-md-8">
    <div class="blopost">
      <article id="<%= dom_id(post) %>">
        <div>
          <h3><%= post.title.html_safe %></h3>
        </div>

        <div>
          <%= post.body.html_safe %>
        </div>

        <div>
          <%= time_ago_in_words(post.created_at) %>
        </div>

        <footer>
          <nav><%= link_to 'Show', post %></nav>
          <nav>
            <% if policy(post).update? %>
              <%= link_to 'Edit Post', edit_post_path(post), :class => "btn btn-info" %>
            <% end %>
          </nav>

          <nav>
            <% if policy(post).destroy? %>
              <%= link_to 'Destroy Post', post, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
            <% end %>
          </nav>

          <nav>
            <% if policy(post).publish? && post.published? == false %>
            <%= button_to 'Publish', post_path(post, post: {published: true}), method: :put, :class => "btn btn-success" %>
            <% end %>
          </nav>
        </footer>
      </article>
    </div>
 </div>
<% end %>
</div>

<div class="digg_pagination" >
  <%= will_paginate @posts %>
</div>

<footer>
  <div>
    <% if policy(Post).create? %>
      <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</footer>
</body>
</html>



