<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body.html_safe %>
</p>

<p id="author">
  <b>By:</b> <%= @post.author.email %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br />

<p>
<h2> Comments</h2>
  <%= render "comments/comm" %>
  <%= render "comments/form" %>
</p>


