<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Web Developer Seattle | Seattle, WA Rails Developer | Ruby on Rails Developer | Agile Web Development | Michael Frankenfield</title>
  <meta name="robots" content="noodp, noydir">
  <meta name="description" content="Michael Frankenfield is a web developer residing in Seattle, WA. Specialized in rails development, rails developer, ruby on rails, agile web development, web application development">
  <link rel="canonical" href="http://www.mfrank.io/">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' /> -->
</head>
<body>
  <%= render "layouts/navbar"  %>

  <%= render "layouts/gordon" %>



  <%= yield %>





  <%= render "layouts/footer"  %>
</body>
</html>
