<!DOCTYPE html>
<html>
<head>
  <title>Michael Frankenfield's Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
</head>
<body>
  <%= render "layouts/navbar"  %>

  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

  <%= yield %>

  <ul class="hmenu">
  <%= render "layouts/registration" %>
  <%= render "layouts/login"   %>
  </ul>

  <%= render "layouts/footer"  %>
</body>
</html>
